@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:invalid {
  border-color: #ff0000;
  border-width: 2px;
}

/* REMOVE ARROWS ON NUMBER INPUT */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* CUSTOM PLACEHOLDERS */
.custom-placeholder::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
.custom-placeholder::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: white;
}

/* SNACKBAR */
.snackbar {
  z-index: 99;
  position: fixed;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  width: 335px;
  height: 45px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1em;
  font-size: 0.95rem;
}

#show {
  visibility: visible;
  animation:
    fadeIn 0.5s,
    fadeOut 0.5s 2.5s;
}
#hide {
  visibility: hidden;
}

@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@layer components {
  /* INPUTS */
  .input-text-primary {
    @apply rounded-md border-2 border-gray-text-1 px-3 py-2 text-sm outline-none focus:border-blue-accent;
  }
  .input-password-primary {
    @apply w-full rounded-md border-2 border-gray-text-1 px-3 py-2 text-sm outline-none focus:border-blue-accent;
  }

  /* BUTTONS */
  .btn-primary {
    @apply rounded-md bg-blue-secondary py-2 font-medium text-white transition-all duration-200 hover:bg-blue-accent;
  }
  .btn-accent {
    @apply rounded-md bg-blue-accent py-2 font-medium text-white transition-all duration-200 hover:bg-blue-secondary;
  }
  .btn-link-primary {
    @apply pt-1 text-xs text-blue-secondary hover:text-blue-accent;
  }
  .btn-logo-secondary {
    @apply flex items-center justify-center gap-3 rounded-md border-[1px] border-gray-text-2 bg-white py-2 text-sm text-gray-text-2 transition-all duration-200 hover:border-blue-accent hover:bg-blue-accent hover:text-white;
  }
  .btn-logo-accent {
    @apply flex items-center justify-center gap-3 rounded-md border-[1px] bg-blue-accent py-2 text-sm text-white transition-all duration-200 hover:border-blue-secondary hover:bg-blue-secondary;
  }
}
